################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoListApi/bin/Debug/net5.0
/TodoListApi/obj
/TodoListApp/bin/Debug/net5.0
/TodoListApp/obj
