@using Newtonsoft.Json
@model TodoListApp.Controllers.TodoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="CreateTodo" asp-controller="TodoList" method="post">
    <table>
        <tr>
            <td>Todo: </td>
            <td>
                <input asp-for="Todo" type="text" id="todo" />
                <input type="hidden" asp-for="UserId" id="userId" value="@Model.UserId" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    <hr />

</form>