@using Newtonsoft.Json
@model TodoListApp.Controllers.TodoViewModel


    <h1>Delete Todo</h1>

    <form asp-action="DeleteTodo" asp-controller="TodoList" method="post">
        <table>
            <tr>
                <td>Todo: </td>
                <td>
                    <input asp-for="Todo" type="text" disabled="disabled" id="todo" value="@Model.Todo" />
                    <input type="hidden" asp-for="TodoId" id="todoId" value="@Model.TodoId" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
        <hr />

    </form>