@using Microsoft.AspNetCore.Identity
@using TodoListApp.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="TodoList" asp-action="Index">Todo</a>
    </li>
}